<body>
    <div class="container">
        <div class="row">
            <div class="col-12">{{currOpened || 'null'}}
                <div ng-repeat="row in nizNizova track by $index" class="row">
                    <div ng-repeat="obj in row track by $index" class="col-3">{{obj || '  obj'}}
                        <button ng-click="open(obj)" ng-disabled="obj.disable" class="btn btn-primary col-12">
                            <span ng-model="current" ng-if="obj.opened === true">{{obj.value}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>